.full-width, .content-narrow, .content-wide {
  width: 100%;
  margin: 0 auto;
}

.content-narrow {
  max-width: 960px;
}

.content-wide {
  max-width: 1130px;
}

body {
  margin: 0;
  font-family: Arial;
}

header {
  height: 676px;
  background-image: url("images/top_blue_horizontal_repeat.jpg");
  background-repeat: repeat-x;
}

/* TODO: vertically center divs inside of this div */
#top-above-menu {
  height: 46px;
  padding: 35px 0px;
  position: relative;
}

#logo {
  float: left;
  position: absolute;
  top: 50%;
  margin-top: -15px; /* compensate for top padding of parent div */
}

#logo a {
  width: 233px;
  height: 32px;
  background: url(images/logo.png) no-repeat;
  display: block;
}

#top-contact-info {
  float: right;
}

#top-social-div {
  float: left;
  margin-right: 30px;
  margin-top: 6px;
}

#top-social-div li {
  margin: 0px 5px;
}

#top-social-div a {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #b3b3b3;
}

#top-social-div .fa {
  line-height: 30px;
  color: #b3b3b3;
}

#top-phone-div {
  float: right;
  margin-top: 2px;
}

#top-phone-div p {
  margin: 0 0 3px 0;
  color: #ffcf4b;
}

#top-phone-div span {
  font-size: x-large;
  letter-spacing: 2px;
  color: #b4c1d2;
}

#menu-and-slides {
  width: 1135px;
  height: 560px;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.1);
}

#main-menu {
  width: 1113px; /* leave room for transparent background border */
  height: 58px;
  margin: 0 auto;
  padding-top: 11px;
  background-image: url(images/menu_bg.gif);
  background-repeat: repeat-x;
  background-origin: content-box;
  text-align: center;
}

#main-menu ul {
  display: inline-block;
}

/* Disgusting hacky way of getting separators... need better way */
#main-menu li + li {
  background: url(images/separator.gif) no-repeat center left;
  padding-left: 50px;
  padding-right: 40px;
}

#main-menu li:first-child {
  margin-right: 40px;
}

#main-menu li:last-child {
  padding-right: 0px;
}
/* END disgusting hack */

#main-menu a {
  color: white;
  line-height: 58px;
  text-decoration: none;
  letter-spacing: 3px;
}

#main-menu a:hover, #main-menu li:last-child a {
  color: #ffcf4b;
}

#slideshow {
  width: 1099px; /* leave room for transparent background border */
  height: 466px;
  margin: 0 auto;
  background-image: url(images/first_slide.jpg);
  background-repeat: no-repeat;
  border: 7px solid white;
}

#welcome-section {
  text-align: center;
  height: 370px;
}

#welcome-section h2 {
  margin: 50 auto;
  font-size: 2em;
}

.welcome-color-1 {
  color: #6b6b6b;
}

.welcome-color-2 {
  color: #2762a6;
}

#welcome-section p {
  margin: 0 auto 80px auto;
  line-height: 200%;
}

#company-services-section {
  height: 478px;
  background: url(images/section_blue_bg.jpg) repeat-x;
  overflow: auto;
}

#company-services-blocks-bg {
  height: 436px;
  background-color: rgba(0,0,0,0.1);
  margin-top: 21px;
  text-align: center;
}

.company-services-block {
  background: url(images/block_top_bg.gif) repeat-x, white;
  width: 298px;
  height: 415px;
  margin: 9px -3px 0 -2px;
  padding: 0 35px;
  display: inline-block;
  text-align: left;
  border: 1px solid #f4f4f4;
}

.company-services-block h3 {
  color: #0d3c6a;
  font-size: x-large;
  margin: 35px 0 25px;
}

.company-services-block-pic {
  width: 305px;
  height: 180px;
  border: 1px solid #f4f4f4;
}

#company-services-block-1 .company-services-block-pic {
  background: url(images/block_pic_1.jpg) center no-repeat, white;
}
#company-services-block-2 .company-services-block-pic {
  background: url(images/block_pic_2.jpg) center no-repeat, white;
}
#company-services-block-3 .company-services-block-pic {
  background: url(images/block_pic_3.jpg) center no-repeat, white;
}

.company-services-block p {
  margin-top: 30px;
  color: #8a9cb2;
}

#footer-contact {
  height: 154px;
  text-align: center;
  line-height: 154px;
}

.footer-contact-item {
  height: 75px;
  display: inline-block;
  line-height: 75px;
  margin: 0 35px;
}

.footer-contact-item i {
  color: #dbb761;
  width: 70px;
  height: 70px;
  line-height: 70px;
  border: 2px solid #f4f4f4;
  border-radius: 50%;
  margin-right: 30px;
}

.footer-contact-item span {
  color: #7b7b7b;
  letter-spacing: 2px;
}

#footer-menu-bg {
  height: 157px;
  background-color: #0d1424;
  line-height: 157px;
}

#footer-menu {
  display: inline-block;
}

#footer-menu li {
  margin-right: 55px;
}

#footer-menu a {
  display: block;
  height: 153px;
  color: white;
  text-decoration: none;
}

#footer-menu a:hover {
  border-bottom: 5px solid #2297f1;
}

#newsletter-div {
  display: inline-block;
  float: right;
  margin-top: 58px;
}

#newsletter-div #newsletter-text {
  float: left;
  width: 140px;
  line-height: 1em;
  padding: 5px 0;
}

#newsletter-div span {
  color: white;
}

#newsletter-div input {
  height: 44px;
  width: 210px;
  font-family: 'FontAwesome' Arial;
}

#newsletter-div a {
  float: right;
  width: 66px;
  height: 44px;
  background: url(images/go_button.png) no-repeat;
  margin-left: -4px;
}

#footer-copyright {
  height: 101px;
  background-color: #060c1c;
  line-height: 101px;
}

#footer-copyright span {
  color: #4c597c;
}

#bottom-social-div {
  float: right;
}

#bottom-social-div a {
  width: 45px;
  height: 45px;
  background-color: black;
  border-radius: 50%;
}

#bottom-social-div a:hover {
  background-color: #00acee;
}

#bottom-social-div .fa {
  line-height: 45px;
  color: white;
}


/* General repeated classes */

.horizontal-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.horizontal-item {
  display: inline-block;
}

.link-button {
  display: block;
  text-align: center;
}

.hide-text {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}  

.font-small {
  font-size: small;
}

.font-light {
  font-weight: lighter;
}

