/** You can edit this entire document **/

#wrapper {
  width: 100%;
  max-width: 1454px;
}
.content {
  width:100%;
  max-width: 1008px;
  margin: 0 auto;
  font-family: sans-serif;
}

/** was used for previous lesson; added to re-use class 'menu-siblings' **/
ul.menu-siblings li {
	display: inline-block;
}

/** set size & background for top of section **/
#testimonials {	
    height: 590px;
	width: 100%;
    /** background: linear-gradient(#ffffff 33%, #fafafa 33%); **/
    background: #fafafa url("images/white-strip-bg.png") repeat-x top left;
}

/** style pointers **/
.arrow-pointers {
	display: block;
	overflow: hidden;
	height: 0px !important;
	padding-top: 200px;
	padding-left: 50px;
	margin-top: 270px;
	background-repeat: no-repeat;

}
#left-pointer {
	background-image: url("images/left-pointer.jpg"); 
	float: left;
	margin-left: 25px;
}

#right-pointer {
	background-image: url("images/right-pointer.jpg"); 
	float: right;
}


/** style quote boxes **/
li.quote {
	height: 377px;
	width: 290px;
	border: solid 7px #e8edec;
	background-color: #ffffff;
	margin-top: 120px;
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;	
}

img.testimonial-image  {
	padding-bottom: 50px; 
	margin-top: -75px;
	border: 
}

p.testimonial-text {
	padding-top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	color: grey;
}

span.testimonial-name {
	display: block;
	text-transform: uppercase;
	font-weight: bold;
	border-top: solid 2px #e8edec;
	padding-top: 25px;
}

span.testimonial-type {
	display: block;
	text-transform: uppercase;
	color: #00efa9;
	
	
}



