// @todo these should be their own CSS files and only included when
// specific Drupal libraries are used.
@import "component/alert";
@import "component/ajax";
@import "component/field";
@import "component/file";
@import "component/filter";
@import "component/form";
@import "component/icon";
@import "component/navbar";
@import "component/node";
@import "component/panel";
@import "component/progress-bar";
@import "component/table-drag";
@import "component/tabs";
@import "component/toolbar";

// jQuery UI style overrides.
@import "jquery-ui/autocomplete";

ol, ul {
  padding-left: 1.5em;
  .popover &:last-child {
    margin-bottom: 0;
  }
}

// Page header.
.page-header {
  margin-top: 0;
}

header.navbar {
  .name.navbar-brand {
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 8px;
  }
}

.navbar-header {
  max-width: 1080px;
}

// Main menu
ul.sf-menu.menu li {
    margin-top: 13px;
}

ul.sf-menu li {
    text-transform: uppercase;
    font-size: 8px;
    letter-spacing: 4px;
    float: right;  
}

ul.sf-menu a {
  color: #ffffff;
  padding: 11px 30px;
}

ul.sf-menu a.is-active {
  border: 2px solid #464646;
  border-radius: 25px; 
}

#block-main {
  float:right;
}


header.navbar-default {
  background-color: #000;
  border: none;
  }

// Above Footer
#above_footer {
  background-color: #183345;
  color: #fefefe;
  padding-top: 77px;
  padding-bottom: 72px;
  text-align: center;
  padding-left: 65px;
  padding-right: 65px;
}

// Footer.
.footer {
  background-color: #102531;
  color: #fefefe;
  margin-top: 45px;
  padding-top: 72px;
  padding-bottom: 55px;
}

// Paragraphs.
p:last-child,
.form-group:last-child,
.panel:last-child {
  margin-bottom: 0;
}

// Help region.
.region-help {
  > .glyphicon {
    font-size: $font-size-large;
    float: left;
    margin: -0.05em 0.5em 0 0;
  }
  .block {
    overflow: hidden;
  }
}

.help-block, .control-group .help-inline {
  color: $gray-light;
  font-size: 12px;
  margin: 5px 0 10px;
  padding: 0;
  &:first-child {
    margin-top: 0;
  }
}

body {
  background-color: #ffffff;
}

.menu nav navbar-nav {
  float: right;
}

// Portfolio view.
#block-views-block-portfolio-block-1 {
  background-color: #f4f3f1;
  text-transform: uppercase;
  text-align: center;
  .views-row {
    height: 500px;
    margin-bottom: 45px;
  }
  img {
    max-height: 310px;
    display: inline-block;
  }
  .portfolio-summary {
    background-color: #96acbd;
    color: #ffffff;
    width: 90%;
    margin-top: -70px;
    z-index: 999;
    position: absolute;
    left: 5%;
    height: 250px;
    a {
      color: #ffffff;
    }
  }
  h2 {
    color: #82aab9;
    font-size: 9px;
    margin-bottom: 17px;
  }
  .view-header {
    color: #526572;
    font-size: 13px;
    margin-bottom: 54px;
  }

  .button a {
    display: block;
    border: 1px solid #ffffff;
    border-radius: 20px;
    margin-top: 28px;
  }
    

}

